<ul class="list-group sidemenu-height">
    <li class="list-group-item">
        <span class="glyphicon glyphicon-user"></span>Supplier</li>
    <li class="list-group-item">
        <span class="glyphicon glyphicon-calendar"></span>Supplier Score Card</li>
    <li class="list-group-item">
        <span class="glyphicon glyphicon-signal"></span>Performance Breakdown</li>
    <li class="list-group-item">
        <span class="glyphicon glyphicon-home"></span>Supplier Spend</li>
    <li class="list-group-item">
        <span class="glyphicon glyphicon-home"></span>Structure Spend</li>
    <li class="list-group-item">
        <span class="glyphicon glyphicon-home"></span>Agreements</li>
    <li class="list-group-item">
        <span class="glyphicon glyphicon-home"></span>Payment Terms</li>
    <li class="list-group-item">
        <span class="glyphicon glyphicon-home"></span>Tooling Inventory</li>
    <li class="list-group-item">
        <span class="glyphicon glyphicon-home"></span>Minutes and Action plans</li>
  </ul>