<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div class="generalinfo header"><span>Supplier Type</span></div>
      <select class="form-control">
        <option>Automotive Parts (AP)</option>
        <option>Automotive Parts (AP1)</option>
        <option>Automotive Parts (AP2)</option>
        <option>Automotive Parts (AP3)</option>
      </select> <br />
      <div class="generalinfo header"><span>SRM</span></div>
      <span class="span-font">Iversen Martin J(9386), 35930</span>
      <div class="w-100"></div><br>
      <div class="generalinfo header"><span>Supplier Addres</span></div>
      <div class="row grid-row-gap">
        <div class="col-12">
          <div class="span-font">
            <span>Verkstadsgatan 21</span><br>
            <span>Box 23</span><br>
            <span>SE-568 31 SKILLINGARYD</span><br>
            <span>Sweden</span><br>
            <span>Telephone:+46 37076800</span> <br>
            <span>Fax:+46 37071761</span> <br>
            <span>VAT No:SE556054267101</span> <br>
            <a href="#">www.protonengineering.com</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="roles-structure">
        <div class="row">
          <div class="col-lg-4">
            <p class="header">Role & Structure</p>
          </div>
          <div class="col-lg-8">
            <div class="row">
              <div class="col-lg-6 parent-nav"><span>Parent</span></div>
              <div class="col-lg-6 child-nav"><span>Child</span></div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="row parent-grid-row">
        <div class="col-lg-3 parent-grid-pipe-left">52337</div>
        <div class="col-lg-9">
          <span>Proton Engineering AB</span><br>
          <span style="font-size: 0.8em">Parent Company</span><br>
          <span style="font-size: 0.8em">Varanamo,Sweden,EMEA</span>
        </div>
      </div>
      <div class="row child-grid-row">
        <div class="col-lg-3 child-grid-pipe-left">18</div>
        <div class="col-lg-9">
          <span>Proton Engineering AB</span><br>
          <span style="font-size: 0.8em">Sales Office</span><br>
          <span style="font-size: 0.8em">Skillingaryd,Sweden,EMEA</span>
        </div>
      </div>
      <div class="row child-grid-row">
        <div class="col-lg-3 child-grid-pipe-left">18</div>
        <div class="col-lg-9">
          <span>Proton Engineering AB</span><br>
          <span style="font-size: 0.8em">Manufacturing Site</span><br>
          <span style="font-size: 0.8em">Skillingaryd,Sweden,EMEA</span>
        </div>
      </div>
      <div class="row child-grid-row">
        <div class="col-lg-3 child-grid-pipe-left">18</div>
        <div class="col-lg-9">
          <span>Proton Engineering AB</span><br>
          <span style="font-size: 0.8em">Shipment</span><br>
          <span style="font-size: 0.8em">Skillingaryd,Sweden,EMEA</span>
        </div>
      </div>
    </div>
  </div>
</div>