
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#General" role="tab" aria-controls="home" aria-selected="true">Supplier Sales</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="certificate-tab" data-toggle="tab" href="#Certificate" role="tab" aria-controls="certificate" aria-selected="false">Supplies to Business</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="suppliesto-tab" data-toggle="tab" href="#Suppliesto" role="tab" aria-controls="suppliesto" aria-selected="false">Supplier Audits</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="General" role="tabpanel" aria-labelledby="home-tab">Supplier Sales</div>
  <div class="tab-pane fade" id="Certificate" role="tabpanel" aria-labelledby="certificate-tab">Supplies to Business</div>
  <div class="tab-pane fade" id="Suppliesto" role="tabpanel" aria-labelledby="suppliesto-tab">Supplier Audits</div>
</div>