<app-layout>
  <div class="search-container">
      <div class="container">
          <div class="col-lg-12">
              <div class="input-group mb-3">
                  <div class="input-group-prepend">
                      <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">Search Criteria</button>
                      <div class="dropdown-menu">
                          <a class="dropdown-item" href="#">All</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Something else here</a>
                          <div role="separator" class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">Separated link</a>
                      </div>
                      <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">All</button>
                      <div class="dropdown-menu">
                          <a class="dropdown-item" href="#">All</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Something else here</a>
                          <div role="separator" class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">Separated link</a>
                      </div>
                  </div>
                  <input id="typeahead-format" type="text" class="form-control" [(ngModel)]="model" [ngbTypeahead]="search"
                      aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
                      [resultFormatter]="formatter" />
                  <button class="btn btn-secondary"><i class="fa fa-search"></i></button>
              </div>
          </div>
      </div>
  </div>
  <div class="backcolor">        
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-3">
                  <div class="card">
                      <div class="card-body">
                          <app-sidebar></app-sidebar>
                      </div>
                  </div>
              </div>              
              <div class="col-lg-9">
                    <h5>Proton Engineering AB (18)&nbsp;<i class="fa fa-info-circle"></i></h5>
                  <div class="card">
                      
                      <div class="card-body">
                        <router-outlet></router-outlet>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

</app-layout>